* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "VT323", Arial;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background: url("images/background-mushrooms.png") transparent repeat center;
}

header {
  width: 750px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f78200;
}

.player {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
}

.player__score {
  border: 1px solid black;
}

.player__img {
  display: block;
  height: 2.5rem;
}
.player__equipments {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.player__equipment {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.player__equipment-img {
  border: 1px solid black;
  height: 1.5rem;
}

canvas {
  border: 1px solid black;
}
.timer {
  width: 7rem;
  background: black;
  color: white;
  display: flex;
  font-size: 3rem;
}
#time {
  margin: auto;
}
